on:
  workflow_dispatch:

jobs:
  ansible_job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Install Ansible
        run: |
          python -m pip install ansible

      - name: Run Ansible Playbook
        env:
          INTERSIGHT_API_KEY_ID: ${{ secrets.INTERSIGHT_API_KEY_ID }}
          INTERSIGHT_API_PRIVATE_KEY: ${{ secrets.INTERSIGHT_API_PRIVATE_KEY }}
        run: |
          cd playbooks
          ansible-playbook -i 'localhost,' --connection=local --extra-vars "ansible_api_key=${{ secrets.ANSIBLE_API_KEY }}" count_vms.yml -vvv
